/* 
   #widths
   ========================================================================== */

/**
 * The widths module is a helper class for setting widths on elements.
 *
 * Usage:
 *
 * <div class="o-grid">
 *     <div class="o-grid__item u-w-1-3 u-sw-1-1"></div>
 *     <div class="o-grid__item u-w-1-3 u-sw-1-1"></div>
 *     <div class="o-grid__item u-w-1-3 u-sw-1-1"></div>
 * </div>
 */

//
// Large screens
//

.u-w-1-1 { width: 100%; }
.u-w-1-2 { width: 50%; }
.u-w-1-3 { width: 33.3%; }
.u-w-1-4 { width: 25%; }
.u-w-2-3 { width: 66.6%; }
.u-w-3-4 { width: 75%; }
.u-w-1-5 { width: 20%; }
.u-w-2-5 { width: 40%; }
.u-w-3-5 { width: 60%; }
.u-w-4-5 { width: 80%; }

//
// @media: Provide additional classes to change the width sizes for small screens.
//

@media (max-width: bareMedia($bare-bp-s)) {

	.u-sw-1-1 { width: 100%; }
	.u-sw-1-2 { width: 50%; }
	.u-sw-1-3 { width: 33.3%; }
	.u-sw-1-4 { width: 25%; }
	.u-sw-2-3 { width: 66.6%; }
	.u-sw-3-4 { width: 75%; }
	.u-no-sw  { display: none; } 
}

//
// @media: Provide additional classes to change the width sizes for medium screens.
//

@media (max-width: bareMedia($bare-bp-m)) {

	.u-mw-1-1 { width: 100%; }
	.u-mw-1-2 { width: 50%; }
	.u-mw-1-3 { width: 33.3%; }
	.u-mw-1-4 { width: 25%; }
	.u-mw-2-3 { width: 66.6%; }
	.u-mw-3-4 { width: 75%; }
	.u-no-mw  { display: none; } 
}
