/* 
   #widths
   ========================================================================== */

/**
 * The widths module is a helper class for setting widths on elements.
 *
 * Usage:
 *
 * <div class="grid">
 *     <div class="grid__item w-1-3 sw-1-1"></div>
 *     <div class="grid__item w-1-3 sw-1-1"></div>
 *     <div class="grid__item w-1-3 sw-1-1"></div>
 * </div>
 */

//
// Large screens
//

.#{$bare-ns}w-1-1 { width: 100%; }
.#{$bare-ns}w-1-2 { width: 50%; }
.#{$bare-ns}w-1-3 { width: 33.3%; }
.#{$bare-ns}w-1-4 { width: 25%; }
.#{$bare-ns}w-2-3 { width: 66.6%; }
.#{$bare-ns}w-3-4 { width: 75%; }
.#{$bare-ns}w-1-5 { width: 20%; }
.#{$bare-ns}w-2-5 { width: 40%; }
.#{$bare-ns}w-3-5 { width: 60%; }
.#{$bare-ns}w-4-5 { width: 80%; }

//
// @media: Provide additional classes to change the width sizes for small screens.
//

@media (max-width: bareEm($bare-bp-s)) {

	.#{$bare-ns}sw-1-1 { width: 100%; }
	.#{$bare-ns}sw-1-2 { width: 50%; }
	.#{$bare-ns}sw-1-3 { width: 33.3%; }
	.#{$bare-ns}sw-1-4 { width: 25%; }
	.#{$bare-ns}sw-2-3 { width: 66.6%; }
	.#{$bare-ns}sw-3-4 { width: 75%; }

}